:root{
    --color-correct: #c1d7b0;
    --color-approached: #ffe36b;
    --color-wrong: #cccccc;

    --font-large: 2rem;
    --font-bold: 700;
    --font-opensans :'Open Sans', sans-serif;
}


input:focus{
    outline: none;
    caret-color: transparent;
}

.correct{
    background-color: var(--color-correct);
}
.approached{
    background-color: var(--color-approached);
}
.wrong{
    background-color: var(--color-wrong);
}

.word-input{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: var(--font-large);
    font-weight: var(--font-bold);
    font-family: var(--font-opensans);
}