:root{
    --color-correct: #c1d7b0;
    --color-approached: #ffe36b;
    --color-wrong: #cccccc;

    --font-large: 2rem;
    --font-bold: 700;
    --font-opensans :'Open Sans', sans-serif;
}


input:focus{
    outline: none;
    /* caret-color: transparent; */
}

.correct{
    background-color: var(--color-correct);
}
.approached{
    background-color: var(--color-approached);
}
.wrong{
    background-color: var(--color-wrong);
}

.game-line{
    margin-bottom: 0.4em;
}

.input, input{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: var(--font-large);
    font-weight: var(--font-bold);
    font-family: var(--font-opensans);
    border: 3px solid #cccccc;
    border-radius: 3px;
}

.keyboard-line{
    margin-bottom: 0.3em;
}

.keyboard-item, .word-submit {
    width: 40px;
    height: 58px;
    border: 0;
    font-size: 1em;
    border-radius: 0.2em;
    cursor: pointer;
}

.keyboard-item:hover, .word-submit:hover{
    background-color: #e2e2e2;
}

.keyboard-item:active, .word-submit:active{
    background-color: #cccccc;
}